<!-- AQUI SE PONE LOS COMPONENTES HTML DE CREAR-ESTUDIANTES-->
<div class="container">
    <div class="card text-white bg-secondary mb-3" >
        <div class="card-header">Estudiantes</div>
          <div class="card-body " >
            <!-- AQUI EMPIEZA EL FORMULARIO-->
            <form [formGroup]="estudianteForm" >
              <div class="form-group">
                <!--Aqui empiza CREACION DE AUMNO EN EL FOMULARIO-->
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre" 
                [ngClass]="{'is-invalid': f.nombre.errors}" placeholder="Nombre estudiante" >
                <small id="Nombre" class="form-text text-light" >Escriba su nombre aqui</small>
                <!--Aqui se pone la validacion-->
                <div *ngIf=" f.nombre.errors" class="invalid-feedback">
                  <div *ngIf="f.nombre.errors.required">
                    Requerido
                  </div>
                </div>
                <!--Aqui se termina la validacion-->
              </div>
              <!--Aqui TERMINA CREACION DE AUMNO EN EL FOMULARIO-->
              <div class="form-group">
                <!--Aqui empiza la creacion de APELLIDO PATERNO-->
                <label for="Apellido1">Apellido Paterno</label>
                <input type="text" class="form-control" id=Apellido1 formControlName="apellido1" 
                [ngClass]="{'is-invalid': f.apellido1.errors}" placeholder="Primer apellido" >
                <small id="Apellido1" class="form-text text-light" >Escriba su primer apellido aqui</small>
                <!--Aqui se pone la validacion-->
                <div *ngIf=" f.apellido1.errors" class="invalid-feedback">
                  <div *ngIf="f.apellido1.errors.required">
                    Requerido
                  </div>
                </div>
                 <!--Aqui se termina la validacion-->
              </div>
              <!--Aqui termina la creacion de APELLIDO PATERNO-->
              <div class="form-group">
                <label for="Apellido2">Apellido Materno</label>
                <input type="text" class="form-control" id="Apellido2" formControlName="apellido2" 
                [ngClass]="{'is-invalid': f.apellido2.errors}" placeholder="Segundo Apellido" >
                <small id="Apellido2" class="form-text text-light" >Escriba su segundo apellido aqui</small>
                <!--Aqui se pone la validacion-->
                <div *ngIf=" f.apellido2.errors" class="invalid-feedback">
                  <div *ngIf="f.apellido2.errors.required">
                    Requerido
                  </div>
                </div>
                 <!--Aqui se termina la validacion-->
              </div>
              <div class="form-group">
                <label for="Edad">Edad</label>
                <input type="number" class="form-control" id="Edad" formControlName="edad" placeholder="Edad" required>
                <small id="Edad" class="form-text text-light">Ingrese su edad aqui</small>
              </div>
              <div>
                <button class="btn btn-primary" (click)="agregarTabla(estudianteForm)" [disabled]="!estudianteForm.valid">Save</button>
              </div>
            </form>
            <!-- AQUI TERMINA EL FORMULARIO-->
        </div>
    </div>
</div>
<div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Edad</th>
            <th scope="col">Genero</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of estudiantes; let i = index">
            <td>{{item.Nombre}}</td>
            <td>{{item.Apellido1}}</td>
            <td>{{item.Apellido2}}</td>
            <td>{{item.Edad}}</td>
            <td>{{item.Genero}}</td>
            <td><button (click)="eliminar(i)" >{{i}}Eliminar</button></td>
          </tr>
        </tbody>
      </table>
</div>
<router-outlet></router-outlet>
