

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div>
  hola mundo
  <br />
  {{title}}<!--este hace referencia a title de app.componets.ts-->
  <br />
  {{1+1}}<!--se hace la suma de dos valores-->
  <br />
  <input class="form-control" type="text" [(ngModel)]="title">
  <br />
  <!--{{sumaValores(3, 4)}}se envian dos valores 3 y 4 a la funcion suma valores de app.components.ts-->
  <br>
  <label>numero1</label>
  <input  type="number" [(ngModel)]="numero1">
  <br />
  <label>numero2</label>
  <input  type="number" [(ngModel)]="numero2">
  <br />
  <button (click)=sumaValores(numero1,numero2)>Sumar</button>
  <a>{{resultado}}</a>
</div>
<router-outlet></router-outlet>